extends _layout

block contents
  header
    .header-box
      h1.header-title
        h1.visibility-hidden 炭焼きさわやか
      .buttons-box
        .fav-buttons-box
          .fav-button
            .fav-img
            span お気に入りの店舗
          .fav-button: span
            span 全店の待ち時間はこちら
        .menu-button
          .bar-box
            .bar
            .bar
            .bar
    .news
      .flash-contents
        p さわやかのハンバーグは、通販含め、さわやかの店舗以外では、一切販売しておりません。
        a(href="#")

  section#mv-aria
    h2.visibility-hidden ナビゲーション
    .slider
    nav.top-menu
      ul
        li: span グランドメニュー
        li: span ランチメニュー
        li: span よくある質問
        li: span 採用情報
        li: span 会社案内
        li: span 営業時間

  section#favorite
    h2.visibility-hidden お気に入りの店舗
    .card-frame
      .heading-frame
        .icon.left
        .heading
          .star-icon
          span お気に入りの店舗
        .icon.right
      .contents-frame
        span お気に入りのお店を
        br
        span ここに登録できます。
      .button お気に入り店舗を登録する
        a(href='#')
  
  section#banner-area
    ul
      li(style='background-image: url(assets/bnr_entetsu.png)')
        a.covered-link(href="#")
      li(style='background-image: url(assets/bnr_sawayakabaito.png)')
        a.covered-link(href="#")
      li(style='background-image: url(assets/bnr_fair.png)')
        a.covered-link(href="#")
      li(style='background-image: url(assets/bnr_desert.png)')
        a.covered-link(href="#")
      li(style='background-image: url(assets/bnr_aregen.png)')
        a.covered-link(href="#")
      li(style='background-image: url(assets/bnr_ft_manga.png)')
        a.covered-link(href="#")

  section#map-area
    .map-contents-wrapper
      h2.heading 静岡県内エリアマップ
        span
      .map-wrapper
        <iframe src="https://www.google.com/maps/d/embed?mid=1PPPNP3AjlX-RY-c8ByTq2YbZXTY"></iframe>
      .caution さわやかのハンバーグは、通販含め、さわやかの店舗以外では一切販売しておりません。
      .caution 藤枝築地店は１０/１０(木)より１１/３０(土)まで改装のため休業させていただきます。
      dl.toggle-wrapper
        dt
          span.txt お問い合わせの多い店舗
          span.arrow: span
        dd
        dt
          span.txt 高速道路ICから近い店舗
          span.arrow: span
        dd
        dt
          span.txt 駅から近い店舗
          span.arrow: span
        dd
      .shop-list-button
        span.shop-icon
        span 店舗一覧
        a.covered-link(href='#')

  section#banner-area
    .heading-wrapper
      h2.heading 新着情報
      a.menu(href="#") 一覧を見る
    .banner-box
      ul.banner-list
        li.banner
          time(datetime='2019.09.23') 2019.09.23
          p 藤枝築地店 10/10(木) より改装のお知らせ
          a.covered-link(href='#')
        li.banner
          time(datetime='2019.09.19') 2019.09.19
          p 第30回 さわやか杯争奪卓球大会 結果発表！
          a.covered-link(href='#')
        li.banner
          time(datetime='2019.08.28') 2019.08.28
          p 浜松遠鉄店 スタッフ応募はコチラから
          a.covered-link(href='#')
        li.banner
          time(datetime='2019.07.05') 2019.07.05
          p 工場内部を初公開！「さわやかのこだわり」ページがリニューアル
          a.covered-link(href='#')
        li.banner
          time(datetime='2019.05.12') 2019.05.12
          p 【再掲】安全・安心への取組み
          a.covered-link(href='#')