footer
  .footer-contents
    .h2.visually-hidden Apple Footer
    section.footnote
      ol
        li 下取り額は、良好な状態のiPhone XS  Max（512GB）をオンラインまたはお近くのApple Storeで下取りに出した場合のものです。下取り額は異なる場合があり、下取りに出すデバイスの状態とモデルにもとづきます。下取り額は新しいiPhoneの購入が条件となり、制限が適用される場合があります。20歳以上の方のみが対象です。本プログラムは一部の店舗ではご利用いただけない場合があります。一部のデバイスは下取りの対象ではありません。AppleまたはAppleの下取りプログラムのパートナーは、理由を問わず、下取りの取引を拒否または制限する権利を有します。店頭での下取りの場合、有効な身分証明書の提示が必要です。お手持ちのデバイスの下取り価格を新しいApple製デバイスの購入に使える場合があります。AppleまたはAppleの下取りプログラムのパートナーにより、その他の条件が適用される場合があります。詳細については
          wbr
          a apple.com/jp/trade-in
          | をご覧ください。
        br
        li Apple ArcadeとApple TV+を利用するにはサブスクリプションが必要です。Apple Arcadeは現在iPhone、iPad、Apple TVで利用できます。今年の秋にはMacでも利用できるようになります。
      ul
        li ケースとバンドは同じコレクション（Apple Watch、Apple Watch Nike、Apple Watch Hermès）の中でのみ組み合わせることができます。
        br
        li iPhoneの商標は、
          a アイホン株式会社
          | のライセンスにもとづき使用されています。
    nav.footer-info
      ul
        li 製品情報と購入
        li サービス
        li アカウント
        li Apple Store
        li ビジネス
        li 教育
        li ヘルスケア
        li Appleの取り組み
        li Appleについて
    section.footer-bottom
      .shop そのほかの購入方法：お近くのApple Store、またはApple製品取扱店で製品を購入することもできます。電話による購入、ご相談は0120-993-993まで。English Sales Line, Click here.
      .locale
        a.locale-link
          span.national-flag
          | 日本
      .legal
        .legal-copyright Copyright © 2019 Apple Inc. All rights reserved.
        .legal-links
          a プライバシーポリシー
          a 利用規約
          a 販売条件
          a Legal Information
          a サイトマップ