
  block head
    head
      meta(charset="utf-8")
      title デフォルトのタイトル
  body
    block header
      header.header
        p.logo デフォルトのヘッダーです。
    block contents
      .contents
        p デフォルトのコンテンツです。
    block footer
      footer.footer
        p デフォルトのフッターです。
        