doctype html
html(lang="ja")

block head
  include _head
block header
  include _header
block contents
  .unit-wrapper.black.first

    .copy-wrapper
      h2.headline.dark iPhone 11 Pro
      h3.subhead.dark カメラも、ディスプレイも、性能も、Pro。
      p.price.dark 今使っているiPhoneを下取りに出すと、
        wbr
        span iPhone 11 Proが最大62,060円
          wbr
          span 割引に
      .cta-links.dark
        a さらに詳しく
        a 購入
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/iphone11pro.jpg)")

  .unit-wrapper.cream
    .copy-wrapper
      h2.headline iPhone 11
      h3.subhead すべてがある。パーフェクトなバランスで。
      p.price 今使っているiPhoneを下取りに出すと、
        wbr
        span iPhone 11が最大62,060円
          wbr
          span 割引に
            span.superscript 1
              | 。
      .cta-links
        a さらに詳しく
        a 購入
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/iphone11.jpg)")

  .unit-wrapper.cream
    .copy-wrapper
      h2.headline-logo(style="background-image: url(../assets/applewatch-logo.png)")
        span.visually-hidden Apple Watch Series 5
      h3.subhead 新しい常時表示Retinaディスプレイ
        br
        | ここまでアクティブになれる腕時計があるなんて。
      .cta-links
        a さらに詳しく
        a 購入
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/applewatch.jpg)")

  .unit-wrapper.cream
    .copy-wrapper
      h2.headline Apple Watch Studio
      h3.subhead あのケース。このバンド
        br
        | どのスタイルもお好みで。
      .cta-links
        a 好きなスタイルを作る
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/applewatch-studio.jpg)")

  .unit-wrapper.cream
    .copy-wrapper
      h2.headline Apple Payで
        br
        | キャッシュレスを簡単に。
      h3.subhead 今なら最大5%還元。そのうえ特典も。
      .cta-links
        a さらに詳しく
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/applepay.jpg)")

  .unit-wrapper.cream
    .copy-wrapper
      h2.headline-logo(style="background-image: url(../assets/new_ipad-logo.png)")
        span.visually-hidden 新しい iPad
      h3.subhead どんなコンピュータにも
        br
        | 似ていないコンピュータ。
      .cta-links
        a さらに詳しく
        a 購入
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/new_ipad.jpg)")

  .unit-wrapper.cream
    .copy-wrapper
      h2.headline iPadOS
      h3.subhead 名前にふさわしい驚きを。
      .cta-links
        a さらに詳しく
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/ipados.jpg)")
  
  .unit-wrapper.cream
    .copy-wrapper
      h2.headline-logo(style="background-image: url(../assets/arcade-logo.png); height: 28px")
        span.visually-hidden Apple Arcade
      h3.subhead.dark ゲームを超えろ。
        br
        | Apple Storeでどうぞ
        span.superscript 2
        | 。
      .cta-links.white
        a さらに詳しく
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/apple_arcade.jpg)")
  
  .unit-wrapper.cream
    .copy-wrapper
      h2.headline-logo(style="background-image: url(../assets/arcade-logo.png); height: 28px")
        span.visually-hidden Apple TV
      h3.subhead.dark 心揺さぶるストーリーの数々。
        br
        | ついに11月1日から。
        br
        | Apple TVアプリでどうぞ
      .cta-links.white
        a さらに詳しく
        a 最新情報を受け取る
    .image-wrapper
      figure.product-img(style="background-image: url(../assets/appletv_plus.jpg)")

block footer
  include _footer
