extends _layout

block contents
  .frame
    iframe(name="frame")
  .button-wrapper
    a.button(href="https://example.com" target="frame") Example.com
    a.button(href="https://prizz.jp" target="frame") Prizz.jp